.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #6af049, #1e9dc9);
  }
  
  .bar {
    width: 10px;
    height: 50px;
    margin: 0 5px;
    background: linear-gradient(to bottom, #f7f31a, #df86cb);
    animation: loading 1.5s ease-in-out infinite;
  }
  
  .bar:nth-child(1) {
    animation-delay: 0s;
  }
  
  .bar:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bar:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .bar:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .bar:nth-child(5) {
    animation-delay: 0.8s;
  }
  
  .bar:nth-child(6) {
    animation-delay: 1s;
  }
  
  .bar:nth-child(7) {
    animation-delay: 1.2s;
  }
  
  
  @keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 2.5);
    }
    40% {
      transform: scale(1.5);
    }
    60% {
      transform: scale(1);
    }
  }